body{
    background: rgb(6,125,208);
    background: linear-gradient(90deg, rgba(6,125,208,1) 0%, rgba(63,179,240,1) 100%);

}
.text{
    text-align: center;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(25, 23, 94) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.espacoForm{
  padding-top: 6px;
}

.bg-custom{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(2, 84, 143) 0%, rgba(0,168,232,1) 90% );
}

.btn-grad {background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%)}

.btn-grad {
   
  margin-top: 55px; 
  padding: 8px 45px;
   text-align: center;
   
   transition: 0.5s;
   background-size: 200% auto;
   color: rgb(0, 0, 0);            
   
   border-radius: 5px;
   outline: none;
 }
 .btn-grad2 {background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%)}
 .btn-grad2 {
   
  
  padding: 4px 10px;
   text-align: center;
   
   transition: 0.5s;
   background-size: 200% auto;
   color: rgb(0, 0, 0);            
   
   border-radius: 5px;
   outline: none;
 }

 

 .btn-grad:hover,.btn-grad2:hover {
   background-position: right center; /* change the direction of the change here */
   color: rgb(255, 255, 255);
   text-decoration: none;
   outline: none;
 }
 .cand{
   text-align: center;
   background-color: white;
   color:black;
   border-color:rgb(6,125,208);
   
   border-width: 2px;
   border-style: solid;
 }
.linhaEspaco1{
  padding-top: 5%;
 }
 .linhaEspaco2{
  padding-top: 8%;
  
 }
 .linhaEspaco3{
  padding-top: 3%;
 }

 .buscaLabels{
   border-radius: 5px;
   background-color: white;
   margin: 0%;
   padding-top: 1.5%;
   text-align: center;  
 }

#formCad{
  padding-top: 7%;
  
}
#formCadCol{
  padding: 5%;
  border-radius: 50px;
  border-color: black;
  background-color:white;
}
 
.valido{
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
.invalido{
  border-color: #a01515;
  box-shadow: 0 0 0 0.2rem rgba(168, 40, 40, 0.25);
}

 
 

 
 
